.text-muted {
  color: #4a5c60;
  align-items: center;
}

.container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.environment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
