.float-right  {
  float: right;
  padding-left: 12px;
}
.space-20 {
  padding-top: 20px;
}
.blueColor  {
  color: #0c9abe;
}
.iconUnauthorizedEvents {
  padding-top: 33px;
  font-size: 25px;
}
.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
