.row-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5%;
}