<div *ngIf="currentFormGroup" class="content-detail">
  <form [hidden]="!isSelected" [formGroup]="subFormGroup">
    <div class="po-row line-container">
      <po-input
        class="po-sm-3"
        p-label="Matrícula incorporada"
        formControlName="matUnic"
        p-maxlength="30"
      ></po-input>

      <po-combo
        class="po-sm-6"
        p-label="Código"
        formControlName="codCateg"
        [p-options]="optionsCodCateg"
        (p-input-change)="renderCodCateg()"
        (click)="renderCodCateg()"
        #codCateg
      ></po-combo>

      <po-datepicker
        class="po-sm-3"
        p-label="Data de início de TSVE"
        formControlName="dtInicio"
      ></po-datepicker>
    </div>

    <div class="po-row">
      <app-error-message
        *ngIf="subFormGroup.get('matUnic').errors?.matEqual"
        message="A matrícula do vínculo deve ser diferente da matrícula do contrato de trabalho"
      ></app-error-message>

      <app-error-message
        *ngIf="subFormGroup.get('codCateg').errors?.codEqual"
        class="po-offset-md-3 po-offset-sm-3 po-offset-lg-3 po-offset-xl-3"
        message="A código do vínculo deve ser diferente do código da categoria do contrato de trabalho"
      ></app-error-message>

      <app-error-message
        *ngIf="subFormGroup.get('dtInicio').errors?.dateEqual"
        class="po-offset-md-9 po-offset-sm-9 po-offset-lg-9 po-offset-xl-9"
        message="A data deve ser diferente da data de início TSE do contrato de trabalho"
      ></app-error-message>
    </div>

    <div class="po-row buttons-internal">
      <po-button
        p-label="Cancelar"
        p-tooltip="Ao clicar neste botão você o formulário será limpo, sem salvar suas alterações."
        (p-click)="cancel()"
      ></po-button>

      <po-button
        class="po-sm-2"
        [p-label]="isEdit ? ' Atualizar vínculo' : ' Incluir vínculo'"
        p-type="primary"
        p-icon="po-icon po-icon-plus-circle"
        (p-click)="isEdit ? updateBoundOrContract() : saveBoundOrContract()"
        [p-disabled]="excluidoERP === 'S' || subFormGroup.invalid"
      ></po-button>
    </div>
  </form>

  <div class="po-row space-btn">
    <p class="subtitle">
      Vínculos/Contratos existentes
    </p>

    <po-button
      *ngIf="!isSelected && excluidoERP !== 'S'"
      class="po-offset-md-7 po-offset-lg-7 po-offset-xl-7"
      p-label=" Incluir vínculo"
      p-type="primary"
      p-icon="po-icon po-icon-plus-circle"
      (p-click)="create()"
    ></po-button>
  </div>

  <po-table
    class="po-sm-12 po-mb-2"
    [p-height]="formArrayValue.length > 3 ? 170 : null"
    [p-columns]="columns"
    [p-items]="rows"
    [p-actions]="actions"
    p-hide-columns-manager
  ></po-table>
</div>
