.selectEvents{
    padding: 23px;
}
.executeFilter{
    padding: 23px;
    float: right;
}
.space-05{
    padding-top: 05px;
}
.space-09{
    padding-top: 09px;
}
.space-10{
    padding-top: 10px;
}
.space-12{
  padding-top: 12px;
}
.space-20{
    padding-top: 20px;
}
.space-29{
    padding-top: 29px;
}
.space-50{
    padding-top: 50px;
}
.iconUnauthorizedEvents {
  padding-top: 34px;
  font-size: 25px;
  color: #c64840;
}
.padding-popover {
  padding: 0.5rem;
}
.redColor {
  color: #c64840;
}
.float-right{
    float: right;
}



