<po-widget class="po-xl-3 po-lg-4 po-md-6 po-sm-12 po-mb-3" p-height="296">
  <div class="card-totalizer po-text-center">
    <strong class="color-blue">
      <p class="po-font-title">
        {{ codeEvent }}
      </p>
    </strong>

    <p class="po-font-text-small description">
      {{ descriptionEvent }}
    </p>
    <br />
    <div class="total-event">
      <p>
        <span class="po-font-text">
          {{ literals['monitorCardTotalizers']['totalizer'] }}:
        </span>

        <span class="po-font-subtitle">
          {{ totalMonitoring }}
        </span>
      </p>
    </div>
  </div>
</po-widget>
