.space-10 {
  padding-top: 10px;
}
.space-20 {
  padding-top: 20px;
}
.space-30 {
  padding-top: 20px;
}
.space-40 {
  padding-top: 40px;
}
.blueColor {
  color: #0c9abe;
}

.align-button-27 {
  padding-top: 27px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}
