.space-20 {
  padding-top: 23px;

  .font-main-card {
    font-size: 32px;
    font-weight: bold;
  }
}
.space-30 {
  padding-top: 30px;

  .font-main-card {
    font-size: 32px;
    font-weight: bold;
  }
}
