<div class="po-wrapper">
  <app-menu></app-menu>
  <po-page-default>
    <app-header
      class="space-20"
      showHeaderTitle="true"
      [headerTitle]="headerTitle"
      [showHeaderBreadCrumb]="true"
      [headerBreadCrumbLabel]="literals['monitorGeneral']['events']"
      [headerBreadCrumbLink]="getPageLink()"
      [headerBreadCrumbLabel2]="headerTitle"
    >
    </app-header>

    <div class="po-sm-12 po-md-1 po-lg-1 po-xl-1 space-20">
      <po-button
        *ngIf="disableButtonInsert(isButtonInsertRet)"
        [p-label]="literals['monitorHeaderActions']['new']"
        (p-click)="setInsert()"
        p-icon="po-icon-plus"
      >
      </po-button>
    </div>

    <div class="po-sm-12 po-md-8 po-lg-8 po-xl-8 space-20 flex-end">
      <po-button
        *ngIf="!disableButtonEditXml(isButtonEditXmlDisabled)"
        class="po-mr-1"
        [p-label]="literals['editorXML']['editXml']"
        (p-click)="prepareOpenXmlEditor()"
      >
      </po-button>

      <po-button
        *ngIf="disableButtonRemoveCompanyRet(isButtonRemoveCompanyRet)"
        class="po-mr-1"
        [p-label]="literals['monitorHeaderActions']['removeCompanyRet']"
        (p-click)="dialogConfirmTransmission()"
        p-type="danger"
      >
      </po-button>

      <po-button
        *ngIf="isTAFFull && isCAT"
        class="po-xl-3 po-lg-3 po-md-3 po-sm-12 flex-end po-mr-1"
        p-icon="po-icon po-icon-print po-mr-1"
        (p-click)="printOutCat()"
        [p-label]="literals['socialCat']['printOutCat']"
        [p-disabled]="isButtonPrintCatDisabled"
        [p-loading]="isLoadingPrint"
      >
      </po-button>

      <po-button
        class="po-lg-3 po-sm-3 po-md-3 po-xl-3"
        [p-label]="labelUpdateEvents"
        (p-click)="updateEventDetails()"
        p-icon="po-icon-refresh"
      >
      </po-button>
    </div>

    <app-monitor-header-actions
      [eventCards]="eventCards"
      [filters]="detailFilter"
      [isButtonTransmissionDisabled]="isButtonTransmissionDisabled"
      (hideCounter)="outputHideCounter($event)"
    >
    </app-monitor-header-actions>

    <div class="po-row space-20 flex-end">
      <po-input
        *ngIf="isTAFFull && showFilter && isEvtExc"
        class="po-lg-2 po-sm-2 po-md-2 po-xl-2"
        name="filterPer"
        p-icon="po-icon po-icon-calendar"
        [p-placeholder]="literals['monitorGeneral']['period']"
        p-mask="9999/?99"
        p-pattern="^(19[0-9]{2}|2[0-9]{3})(0[1-9]|1[0-2])?$"
        [(ngModel)]="searchValuePer"
      >
      </po-input>

      <po-input
        *ngIf="isTAFFull && showFilter"
        class="po-lg-3 po-sm-3 po-md-3 po-xl-3"
        name="filter"
        p-clean="true"
        p-icon="po-icon-search"
        [p-placeholder]="placeholderGenericFilter()"
        [(ngModel)]="searchValue"
      >
      </po-input>      

    </div>

    <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12 space-20">
      <div class="space-5">
        <po-table
          p-hide-text-overflow="true"
          p-sort="true"
          p-selectable="true"
          (p-selected)="onSelectEvent($event)"
          (p-unselected)="onUnSelectEvent($event)"
          (p-all-selected)="onSelectAllEvents($event)"
          (p-all-unselected)="onUnSelectAllEvents($event)"
          [p-loading]="showTableLoading"
          [p-items]="itemsDetailEvents"
          [p-actions]="tableActions"
          p-actions-right="true"
          [p-columns]="columnsDetailEvents"
          [p-show-more-disabled]="hasNext"
          (p-show-more)="showMoreRegisters($event)"
          [p-loading-show-more]="loadingShowMore"
        >
        </po-table>

        <div
          *ngIf="showCounter && !hideCounter"
          style="display: flex; justify-content: flex-end;"
        >
          Exibindo {{ numberInPage }} de {{ total }} registros
        </div>
      </div>
    </div>
  </po-page-default>
</div>

<po-loading-overlay *ngIf="showPageLoading" p-screen-lock="true">
</po-loading-overlay>

<po-modal
  p-size="md"
  p-title="{{ modalTitle }}"
  [p-primary-action]="close"
  p-hide-close="false"
  p-click-out="true"
>
  <div *ngIf="!isEditXml && showStatusMessage">
    <p class="po-font-subtitle">{{ statusMessage }}</p>
  </div>
  <po-textarea
    class="textarea"
    *ngIf="!isEditXml && !showStatusMessage"
    name="textAreaInfo"
    [(ngModel)]="textAreaInfo"
    [p-readonly]="isTextAreaReadOnly"
    p-label="{{ labelTextAreaInfo }}"
    p-rows="5"
    [p-disabled]="isDisabled"
  >
  </po-textarea>
  <app-editor-xml
    *ngIf="isEditXml"
    [code]="code"
    [hashCode]="hashCode"
    [isEditXml]="isEditXml"
    [isReadOnly]="isCodeEditorReadOnly"
    [showStatusMessage]="showStatusMessage"
    [tafEditOnContainer]="true"
    (successMessage)="showMessageSuccess($event)"
    (errorMessage)="showMessageError($event)"
    (emitStatusMessage)="showStatusMessage = $event"
  >
  </app-editor-xml>
</po-modal>

<app-cat-report (loading-report-view)="updateIsLoadingPrint($event)">
</app-cat-report>
