.space-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.space-20 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
}

.space-30 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
